services:
  cassandra:
    image: cassandra:latest
    ports:
      - "9042:9042"
    environment:
      MAX_HEAP_SIZE: "2048M"
      HEAP_NEWSIZE: "128M"
    volumes:
      - ./db:/var/lib/cassandra

  etl:
    build:
      context: ../
      dockerfile: module-01-pipeline/Dockerfile
      tags:
        - "dtcde-pipline:mod-01"

    environment:
      CASSANDRA_HOST: cassandra
      CASSANDRA_PORT: "9042"
    volumes:
      - ./cache:/app/cache
